<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223002377605-4m3tc05eqouv9l4f7k1f69fan6r82q85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223002377605-4m3tc05eqouv9l4f7k1f69fan6r82q85</string>
	<key>API_KEY</key>
	<string>AIzaSyDpzmbg7K1Tzc5eC6Ur44IDG6T6iwhgA1k</string>
	<key>GCM_SENDER_ID</key>
	<string>223002377605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arjundev.music-connections</string>
	<key>PROJECT_ID</key>
	<string>music-connections-c3536</string>
	<key>STORAGE_BUCKET</key>
	<string>music-connections-c3536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223002377605:ios:ffd07e8e6460fb437598ec</string>
</dict>
</plist>